@model WebShop.Models.VenueListModel

@{
    ViewData["Title"] = "Venues";
}

<h3>@ViewData["Title"]</h3>

@if (Model != null && Model.Venues.Count > 0)
{
    <ul>
        @foreach (var venue in Model.Venues)
        {
            <li>@venue.ToString()</li>
        }
    </ul>
}